<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

  <display-name>Welcome to Webcom</display-name>
  <description>
     Welcome to Webcom
  </description>



<!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
<servlet>
  <servlet-name>Sample2</servlet-name>
  <servlet-class>Sample2</servlet-class>
</servlet>

<servlet>
  <servlet-name>Sample3</servlet-name>
  <servlet-class>Sample3</servlet-class>
</servlet>

<servlet>
  <servlet-name>Sample5</servlet-name>
  <servlet-class>Sample5</servlet-class>
</servlet>

<servlet>
  <servlet-name>Sample6A</servlet-name>
  <servlet-class>Sample6A</servlet-class>
</servlet>

<servlet>
  <servlet-name>Sample6B</servlet-name>
  <servlet-class>Sample6B</servlet-class>
</servlet>

<servlet>
  <servlet-name>C8Sample5</servlet-name>
  <servlet-class>C8Sample5</servlet-class>
</servlet>

<servlet>
  <servlet-name>C8Sample5D</servlet-name>
  <servlet-class>C8Sample5D</servlet-class>
</servlet>

<servlet>
  <servlet-name>C8Sample6</servlet-name>
  <servlet-class>C8Sample6</servlet-class>
</servlet>

<servlet>
  <servlet-name>C8Sample8</servlet-name>
  <servlet-class>C8Sample8</servlet-class>
</servlet>

<servlet>
  <servlet-name>C8Sample9</servlet-name>
  <servlet-class>C8Sample9</servlet-class>
</servlet>

<servlet>
  <servlet-name>C8Sample9B</servlet-name>
  <servlet-class>C8Sample9B</servlet-class>
</servlet>


<servlet>
  <servlet-name>C8Sample10</servlet-name>
  <servlet-class>C8Sample10</servlet-class>
</servlet>

<servlet>
  <servlet-name>Rp_add</servlet-name>
  <servlet-class>Rp_add</servlet-class>
</servlet>


<servlet>
  <servlet-name>Rp_del</servlet-name>
  <servlet-class>Rp_del</servlet-class>
</servlet>

<servlet>
    <servlet-name>Rp_view</servlet-name>
    <servlet-class>Rp_view</servlet-class>
</servlet>


<!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->


<servlet-mapping>
  <servlet-name>Sample2</servlet-name>
  <url-pattern>/servlet/Sample2</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>Sample3</servlet-name>
  <url-pattern>/servlet/Sample3</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>Sample5</servlet-name>
  <url-pattern>/servlet/Sample5</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>Sample6A</servlet-name>
  <url-pattern>/servlet/Sample6A</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>Sample6B</servlet-name>
  <url-pattern>/servlet/Sample6B</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>C8Sample5</servlet-name>
  <url-pattern>/servlet/C8Sample5</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>C8Sample5D</servlet-name>
  <url-pattern>/servlet/C8Sample5D</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>C8Sample6</servlet-name>
  <url-pattern>/servlet/C8Sample6</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>C8Sample8</servlet-name>
  <url-pattern>/servlet/C8Sample8</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>C8Sample9</servlet-name>
  <url-pattern>/servlet/C8Sample9</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>C8Sample9B</servlet-name>
  <url-pattern>/servlet/C8Sample9B</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>C8Sample10</servlet-name>
  <url-pattern>/servlet/C8Sample10</url-pattern>
</servlet-mapping>


<servlet-mapping>
  <servlet-name>Rp_add</servlet-name>
  <url-pattern>/servlet/Rp_add</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>Rp_del</servlet-name>
  <url-pattern>/servlet/Rp_del</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>Rp_view</servlet-name>
    <url-pattern>/servlet/Rp_view</url-pattern>
</servlet-mapping>


<!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
<!--
<servlet>
</servlet>
<servlet-mapping>
</servlet-mappping>
-->

</web-app>
